:root {
  --background: #171717;
  --foreground: #ffffff;
}

.pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.botones {
  display: flex;
  gap: 10px;
}

.contenedorTemporizador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temporizador {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.temporizador h1 {
  font-size: 100px;
  margin: 0;
}

.temporizador h2 {
  font-size: 30px;
  margin-top: -5px;
}

.musica {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}